版本Python==3.6.12
需要使用的package：
    1.gc;
    2.warnings;
    3.matplotlib;
    4.seaborn;
    5.scipy;
    6.numpy;
    7.pandas;
    8.scikit-learn;
    9.sklearn;
    10.mlxtend;
    11.xgboost


matplotlib==3.3.3
seaborn==0.11.0
scipy==1.5.4
numpy==1.18.5
pandas==1.1.4
scikit-learn==0.23.2
sklearn==0.0
mlxtend==0.18.0
xgboost==1.3.0.post0